[2014-02-18 17:34] stefanjudis opened #1 "Installation troubles"
Hey hey, thanks for the plugin.

I really want to use it, but unfortunately I've got troubles installing it on multiple machines.

[logs](https://gist.github.com/stefanjudis-pa/6a21169a9234588daaf9)

Maybe you have any idea what this could be about.

Thanks a lot.

[2014-02-19 08:48] #1 closed, assigned to jkphl

[2014-02-19 10:55] stefanjudis opened #2 "Exception : '[TypeError: Object #<Object> has no method 'prepareDimensions']'"
Hey hey,

I'm running with the following grunt configuration:

[code]

And unfortunately I'm getting the following error.

[code]

Debugged already a bit and the problem is based in [svg-sprite](https://github.com/jkphl/svg-sprite/blob/master/lib/svg-sprite.js#L412) itself.

Thanks a lot.
:)

[2014-02-19 12:00] #2 closed, assigned to jkphl

[2014-02-19 12:59] stefanjudis opened #3 "Placeholder '%svg' is not extended in every class"
Hey Joschi,

sorry for filing so many issues. But I have to file another one...

Grunt task now runs fine, but there is an issue with the generated '.scss' file.

[code]

only the first class is extending the placeholder.

Thanks.

[2014-02-19 13:03] stefanjudis opened #4 "Make sprite url configurable"
Hey Joschi,

currently the .scss file points to a generated url.

Maybe I'm missing a config option, but I would like to set up the path myself, because it's not matching with my setup.

[code]

Thanks a lot.

[2014-02-19 13:05] stefanjudis opened #5 "Make prefix and placeholder configurable"
Hello Joshi,

currently the generated .scss file uses always the 'svg-' prefix.

I'm planning to run this task for multiple sprite generation, so I'd like to set this prefix somehow.

Giving it the name of the generated file would also work fine.

Current:

[code]

Desired in `_ingredients.scss`:

[code]

[2014-02-19 13:34] #4 closed, assigned to jkphl

[2014-02-19 13:36] #5 closed, assigned to jkphl

[2014-02-19 14:31] #3 closed, assigned to jkphl

[2014-02-21 09:24] tobiastom opened #6 "Add LESS support"
Would be awesome.

[2014-02-21 11:48] #6 closed, assigned to jkphl

[2014-03-21 17:01] benfrain opened #7 "Maxwidth/Maxheight not working? Possible to have 'blank' prefix?"
First of all - Wow - this runs incredibly quickly. I thought it was broken on first run!

However, couple of things. Maxwidth and Maxheight don't seem to work. For example, despite setting the options like this:

[code]

I still get the SVG created with these attributes:  `width="67" height="56"` – is that expected?

Also, is there a way to set the prefix option to nothing? So no prefix is used? I

[2014-03-24 09:15] #7 closed, assigned to jkphl

[2014-04-01 15:22] laurencedorman opened #8 "RangeError: Maximum call stack size exceeded"
Hi, trying to get this to work on my machine but getting the following error:

[code]

Is this something that had been encountered before?

[2014-04-01 15:51] #8 closed, assigned to jkphl

[2014-04-10 13:26] stefanjudis opened #9 "Cache-busting"
Hey Joschi,

just checked the docs and didn't find anything about cache busting in it.

What do you think of implementing it?

I've got something like md5 hashing in mind.

If not - any explanation of how you deal with it, would be really welcome. :smile:

[2014-04-19 18:06] hbuchel opened #10 "Trouble getting correct path to the svg file in the output sass file."
My GruntFile is configured this way:

[code]

This seems to work fine to get the output svg sprite and sass file in the correct location for my project. However the css output in my sass file includes the incorrect url to my svg sprite file.. Is there anyway to keep the url to the sprite file in my sass file relative to my GruntFile?

[2014-04-19 18:13] #10 closed, assigned to jkphl

[2014-05-02 17:12] johnstrawserjr opened #11 "Option to include target in background-image URL"
If you could include the original image name in the background URL - then you could show/hide the correct image, similar to this method:

http://www.sitepoint.com/use-svg-image-sprites/

You would need to include the CSS snippet in the file.

NOTE: I am not sure this currently has value with SVG stacking being unusable.

[2014-05-02 21:08] #11 closed, assigned to jkphl

[2014-05-06 13:01] lukasoppermann opened #12 "Export HTML-Implementation"
Could you make an option to have it create a html file which includes the svg and has all the icons as svg-tags?

[code]

[2014-05-07 12:45] lukasoppermann opened #13 "SVG-File-Error"
Hey I noticed that some icons are broken like this:
![screen shot 2014-05-07 at 14 43 41](https://cloud.githubusercontent.com/assets/813754/2902468/3db29f0c-d5e5-11e3-8f05-09ea9921579c.png)

I do not get the problem working with https://github.com/FWeinb/grunt-svgstore with the same icons. This plugin saves every in a group <g>-tag. Maybe this would solve it?

[2014-05-15 15:56] zenopopovici opened #14 "PhantomJS on Windows (Was: phantomjs-node: You don't have 'phantomjs' installed)"
It works fine on my Mac, but when I try to run it on Windows 8 I get this:

[code]

PhantomJS is installed and works fine, I've added it to the global path, it shows up if I type  `phantomjs`
No errors during `npm install`

Any thoughts?

[2014-05-23 16:02] zenopopovici opened #15 "Add extra space between sprite images (Was: Messes up SVG sizes)"
I don't know what it does, but it messes up SVG sizes in the output less file.
I get 50x50 in the sprite.svg on svgs that were 16x16.

Also the mixin should be similar to PNG  sprites. Check out: grunt-spritesmith

[2014-05-27 16:28] #13 closed, assigned to jkphl

[2014-05-28 15:04] jkphl opened #16 "Add an alignment option to position images within sprite"
It could simplify the background-positioning of sprite images in certain cases if there was an "alignment" option that controls the alignment of images within the sprite (e.g. horizontally centered images within a vertical layed out sprite). See issue #15 for further details.

[2014-05-28 15:06] #15 closed, assigned to jkphl

[2014-05-29 17:58] #12 closed, assigned to jkphl

[2014-06-12 16:20] losadaem opened #17 "Sprite url attribute not escaped in templates."
If you are in a windows environment the sprite attribute is not escaped in templates. So if you are using a relative path the sprite attribute contains backslashes.

One solution is to provide an escaped_sprite version.

[2014-07-14 06:22] patolo opened #18 "Corrupted sprites"
Some of my sprites gets corrupted, not all, any suggestions on what to do?
'female-standing-normal': {
        src: ['src/templates/assets/sprites/female-standing-normal'],
        dest: '<%= site.destination %>/assets/sprites/female-standing-normal',
        options: {
          render: {
            css: false,
            scss: {
              dest: 'sass/_sprite/female-standing-normal'

[2014-08-13 18:22] ti-dev opened #19 "Option to remove y-coordinate attribute of SVG images?"
Is use this plugin and it works great!

I only have one problem with the generated SVG file. It generates SVG elements with a y-coordinate like this way:

[code]

I use the generated SVG file in this way in my HTML web page:

[code]

The problem is, that it won't display the `my-logo` image, because it has a "padding-top" of 99px.
Is there a way that svg-sprite won't set this y-coordinate attribut

[2014-08-29 09:30] ghost opened #20 "Each task run, SVG's are duplicated into main sprite"
I'm not sure if this is intended or part of the plugin, but each time I run the task the SVG's get put into the sprite causing duplicates. So before each run I have to delete the sprite.svg, then run the task again to ensure I have no duplicates.

Is there an option I'm missing or is this the way to use the plugin?

Also can you define padding as two values for example:

`padding: 0 10`

The inten

[2014-09-04 18:32] zenopopovici opened #21 "em's or rem's instead of px?"
Hey,

Would it be possible to specify sizes in em's or rem's?
I would make things easier with responsive sites.

In theory, the sprite (along with the icons) should resize without a hitch on font-size changes on the body element.

Zeno.

[2014-09-04 20:29] #21 closed, assigned to nobody

[2014-10-21 15:33] davidpelayo opened #23 "Background-position porcentually?"
I'm wondering whether it would be nice to have a computed porcentual background-position instead of static pixeled one.

Why? Mainly because when you want to import the SVG as your main sprite and then resizing the div that will have the class pointing to the icon, you will probably want to resize the icon too. Meaning we need porcentual units in regard background positions to continue pointing to

[2014-12-08 12:23] mogadanez opened #24 "Symbol mode wanted"
like https://github.com/shakyShane/gulp-svg-sprites#symbols-mode
http://css-tricks.com/svg-symbol-good-choice-icons/

[2014-12-18 19:01] bitwit opened #25 ""Assertion `thread_data_key' failed." on starting grunt in Linux environments"
We just started having this issue when using this grunt task on Linux environment. Mac seems to have no problem.

grunt -v outputs:

[code]

I tried this on two Ubuntu LTS 14.04 environments with the same results. v0.3.2 of the plugin and it was working fine for several months. Not sure what has changed. (Also tried updating Ubuntu)

[2014-12-18 19:47] #25 closed, assigned to nobody

[2014-12-29 20:09] #24 closed, assigned to nobody

[2014-12-29 20:10] #23 closed, assigned to nobody

[2014-12-29 20:13] #20 closed, assigned to nobody

[2014-12-29 20:14] #19 closed, assigned to nobody

[2014-12-29 20:18] #18 closed, assigned to nobody

[2014-12-29 20:21] #9 closed, assigned to jkphl

[2014-12-29 20:23] #17 closed, assigned to jkphl

[2014-12-29 20:27] #14 closed, assigned to jkphl

[2015-01-03 01:05] miguelmoraleda opened #26 "cleanconfig deprecated ?"
Hey,

I'm implementing the last release on a project, but I can't find the way to config the clean function. Is it deprecated?

I was using the example below:

[code]

[2015-01-03 01:15] jkphl commented on #26
Hi @miguelmoraleda,

I guess you answered your own question in the meantime, right? Happy spriting anyway! :)

Cheers,
Joschi

[2015-01-03 01:18] jkphl commented on #26
@miguelmoraleda btw, please don't wipe out the issues fields — this makes it pretty impossible to reconstruct the issue history. Thanks! :+1:

[2015-01-03 01:21] miguelmoraleda commented on #26
Hi @jkphl,

You are right. Sorry about the wipe :).

I'm running in a new problem... SVGO is adding a letter to each of my IDs. Do you have any idea how to avoid this behaviour?

Thanks in advance.

Best regards,

Miguel

[2015-01-03 01:23] jkphl commented on #26
It's not SVGO adding the letter, but *svg-sprite* itself. To avoid possible ID conflicts while combining multiple SVG files into a sprite, the IDs need to get "namespaced", which is done by prepending them with a (unique) letter. Otherwise ID clashes could happen ...

[2015-01-03 01:24] jkphl commented on #26
(This isn't something new, by the way, has been the same with previous *svg-sprite* releases)

[2015-01-03 01:26] jkphl commented on #26
I could imagine making the namespacing optional, however. In that case, you would have to avoid ID clashes manually. Interested in this? I could try to do this tomorrow (it's 2:30 a.m. over here, definitely time for going to bed ;)). Cheers, Joschi

[2015-01-03 01:30] miguelmoraleda commented on #26
Yeah!! I'm very interested on it. I would be grateful if you can add namespacing as optional. In my current flow I have a "src" svg folder and a "dest" svg folder for my sprite... In the src folder I'm adding IDs to specific paths, so I can animate it later. The namespacing scary me a little bit because my IDs can change the name every time I regenerate the sprite.

Have a nice rest and thank you

[2015-01-03 09:24] jkphl opened #27 "Make shape ID namespacing configurable"
For some situations, it would be desirable to disable the automatic ID namespacing in shape SVGs (e.g. when one wants to animate the sprite). See #26 for details.

[2015-01-03 09:24] jkphl commented on #26
Closing this in favour of #27.

[2015-01-03 09:24] #26 closed

[2015-01-03 09:47] jkphl commented on #27
Configurable ID namespacing implemented with https://github.com/jkphl/svg-sprite/commit/e62e79f9bec87b2daf146989873d95ace395d05c. New releases scheduled for later today.

[2015-01-03 22:35] jkphl commented on #27
As of [release v1.0.6](https://github.com/jkphl/grunt-svg-sprite/tree/v1.0.6) *grunt-svg-sprite* now supports configuration if ID namespacing.

[2015-01-03 22:35] #27 closed

[2015-01-03 22:37] jkphl commented on #26
Hey @miguelmoraleda,

as of [release v1.0.6](https://github.com/jkphl/grunt-svg-sprite/tree/v1.0.6) *grunt-svg-sprite* now supports disabling ID namespacing. Please see the [`namespaceIDs` option](https://github.com/jkphl/svg-sprite#c-common-svg-options) for further details.

Cheers,
Joschi

[2015-01-03 22:39] jkphl commented on #16
As of [release v1.0.6](https://github.com/jkphl/grunt-svg-sprite/tree/v1.0.6) *grunt-svg-sprite* now supports [extended alignment options](https://github.com/jkphl/svg-sprite#a2-extended-shape-alignment).

[2015-01-03 22:39] #16 closed

[2015-01-04 01:41] miguelmoraleda commented on #26
Hey @jkphl,

Thank you!!! :)

[2015-01-04 02:28] miguelmoraleda opened #28 "is xmlDeclaration working properly?"
Hey @jkphl ,

I'm trying to set xmlDeclaration to false, but it is not working for me. Is this feature working properly?

My config looks like this:
[code]

Thanks in advance.

Best regards,

Miguel

[2015-01-04 10:35] jkphl commented on #28
Hey @miguelmoraleda,

you were right, thanks for that. [Release v1.0.7](https://github.com/jkphl/grunt-svg-sprite/releases/tag/v1.0.7) fixes this and improves XML & DOCTYPE declaration handling in general. Please let me know if you've still got problems.

Cheers,
Joschi

[2015-01-04 10:35] #28 closed

[2015-01-04 15:16] miguelmoraleda commented on #28
Hey @jkphl,

Thank you!! It is working properly :+1:

Best regards,

Miguel

[2015-01-04 17:29] miguelmoraleda opened #29 "is template system working properly?"
Hi @jkphl,

Sorry, it is me again.

I'm trying to use the template configurations, but it is not working for me. I'm not sure if I'm using it in the right way. Could you give me an example?

Looks like there is a problem with the path reference. With my example... it is trying to search from the myproject/node_modules/grunt-svg-sprite/node_modules/svg-sprite/

My code:

[code]

I hope you can help

[2015-01-04 18:06] jkphl commented on #29
Hi @miguelmoraleda,

I see. It looks like this is a problem that only occurs when *svg-sprite* is used as a dependency. Could you please try to follow these steps:

1. Open the file `myproject/node_modules/grunt-svg-sprite/node_modules/svg-sprite/lib/svg-sprite/mode/css.js`
2. Replace the lines 38 - 45 with this:

[code]

3. Retry

Does this work for you then? Thanks for your help and sorry for th

[2015-01-04 18:11] jkphl commented on #29
Sorry, once more — please use this for replacing the lines 38 - 45:

[code]

[2015-01-04 19:09] miguelmoraleda commented on #29
hey @jkphl,

It doesn't works. It is still looking from the same path. (node_modules/....)

I will try to help you to find why is that and let you know ASAP.

Cheers

[2015-01-04 19:19] miguelmoraleda commented on #29
Hey @jkphl ,

So sorry. It is working... My config was wrong.

[2015-01-04 19:20] jkphl commented on #29
Oh great! So I will release that lines along with the next release! Thanks for your help! :)

[2015-01-04 19:31] miguelmoraleda commented on #29
Well, I still have an issue.

Maybe it is because my configuration is wrong. I would like to double check with you.

Now I have this config.

[code]

But it is creating a sprite.example file in a no desired folder. This file contains the "templated" function.

[code]

And the .less file is in the right position but it is not "templated".

Any idea?

[2015-01-04 19:37] jkphl commented on #29
Could you please send me your `Gruntfile.js` and your assets (SVG files plus LESS templates in their original directory structure) via [email](mailto:joschi@kuphal.net). It's hard to debug on a theoretical basis. Also, I'm at home right now, without my full working environment, so it might take me until tomorrow to respond.

[2015-01-04 19:56] miguelmoraleda commented on #29
Sure, I will create a test project for you.

But anyways. I think it is a problem with my configuration in the Gruntfile. Also maybe I couldn't explain it in a good way.

What I'm trying to achieve is to create the .less file with a given template.

If I have this as base for the creation of the .less file. What's the way to set the template?

[code]

By the way. Thank you very much for your help

[2015-01-04 20:05] jkphl commented on #29
No worries! However, which free days are you talking about? :D

You should be able to specify a template like this:

[code]

Please be aware that the `template` path is **relative to the root directory of your project** (i.e. where also the `Gruntfile.js` resides) and the `dest` path **relative to your output directory** (which is `dest` + `css.dest`).

Waiting for your test project ...

[2015-01-04 20:20] miguelmoraleda commented on #29
Great! Thank you. It is working perfectly.

Not sure if you will need my test project

[2015-01-04 20:21] jkphl commented on #29
Cool! So if it does work for you now, then I don't need a test project as there's no problem to solve anymore! ;)

Cheers, Joschi

[2015-01-04 20:21] #29 closed

[2015-01-05 06:25] miguelmoraleda commented on #29
Hey @jkphl,

I will appreciate if you could release a new version containing the changes to css.js. I'm working with more developers in the project and apply the hotfix is a little bit painful for the rest of the team.

If you think it is not enough to make a new release, just let me know, so I can find another solution.

Thanks in advance.

Best regards,
Miguel

[2015-01-05 08:59] jkphl commented on #29
Hey @miguelmoraleda,

sure! [Here you are!](https://github.com/jkphl/grunt-svg-sprite/releases/tag/v1.0.8) ;)

Cheers,
Joschi

[2015-01-05 14:30] miguelmoraleda commented on #29
Thank you!!

[2015-01-06 20:47] daltonridenhour opened #30 "Fatal error: path must be a string when setting css mode options"
I'm getting "Fatal error: path must be a string" when I add any additional options to the css mode:

    mode            : {
         css         : {     // Activate the «css» mode
             render  : {
                  css : true,
                  layout : 'horizontal'
             }
        }
    }

Any ideas?  Thanks!

[2015-01-06 21:00] jkphl commented on #30
Hi @daltonridenhour,

that one is easy: the `layout` option is one level too deep. Make it a sibling of `render` and you should be fine:

[code]

Works for you?

Cheers,
Joschi

[2015-01-06 21:29] daltonridenhour commented on #30
Ah!  Misread the docs.  Thanks!  This is a great plugin.

[2015-01-06 21:29] jkphl commented on #30
Glad you like it, thanks! :+1:

[2015-01-06 21:29] #30 closed

[2015-01-06 21:34] daltonridenhour commented on #30
Actually, while you are here, is there a way to apply only padding-bottom to the icons in a horizontal layout?  I want to be able to pad the icons and still use background-size: cover to make it completely fill the container dimensions.

[2015-01-08 19:53] iansoper opened #31 "Symbol mode not outputting css"
When using these mode settings the css file(s) for `symbol` mode do not get created. The `view` mode CSS/LESS/SCSS files do get created, however.

[code]

[2015-01-08 19:57] jkphl commented on #31
Hi @iansoper,

the `symbol` mode generally doesn't create any CSS as this type of sprite is not suitable for being used via CSS (it's a "foreground image sprite" only). The `<symbol>` elements contained in the sprite are not rendered until you `<use>` it somewhere (inline) in your HTML.

Cheers,
Joschi

[2015-01-08 19:59] jkphl commented on #31
Ah, forgot to mention: For the above mentioned reason, the `symbol` mode also doesn't have a `render` option!

[2015-01-08 20:00] iansoper commented on #31
That makes sense, thanks for clarifying.

[2015-01-14 16:01] dildeeplehal commented on #21
I'm trying to do this too, but i don't know how to call the mustache template in my grunt configuration. I can't see in the docs what the option is. Any help or just a paste of the grunt config may do it?

[2015-01-14 16:54] jkphl commented on #21
Hey @dildeeplehal,

depending on your setup, the option will be something like

[code]

Please [see here](https://github.com/jkphl/svg-sprite#e-rendering-configurations) for more info on rendering configurations (and bear in mind that the configuration has completely changed since @zenopopovici asked this).

[2015-01-15 15:44] dildeeplehal commented on #21
Thanks, I've managed to get it calling my template. Now i need to work out what needs to go in that template so it's in EM units. Where is the documentation for the templating variables so i can work out what to do: I saw this in your files:

{{#shapes}}{{#selector.shape}}.{{#classname}}{{expression}}{{/classname}}{{^last}},
{{/last}}{{/selector.shape}} {
	background-position: {{position.relative.

[2015-01-15 16:18] jkphl commented on #21
Hey @dildeeplehal,

please be aware that as of the 1.x release, *svg-sprite* uses percentages for placing the background images. They should be perfectly responsive out of the box. I don't see any advantage in rewriting it to use `em`s. If you insist on doing so, you would have to tinker with the `position.{relative|absolute}.{x|y|xy}` values. The documentation for the available variables can be f

[2015-01-15 16:38] dildeeplehal commented on #21
Thanks again, i found it eventually.

But still, the background-position uses percentages, but the width and height are set using px, so i cant resize them responsively.

[2015-01-15 16:46] jkphl commented on #21
Sure you can. Please see [this internal test page](https://rawgit.com/jkphl/svg-sprite/master/test/fixture/html/sprite/weather-svg.html) under the "Relative (%)" section.

[2015-01-15 18:25] zenopopovici commented on #21
I've updated it for the current version. Configuration for LESS:

## Grunt File

[code]

## The Mustache Template
[code]

## Vars for conversion

[code]

[2015-01-15 18:28] zenopopovici commented on #21
Anyway. Just great work. I use it for all my projects. ;)

[2015-01-15 18:32] jkphl commented on #21
Thanks a lot for sharing this, @zenopopovici! :+1:

[2015-01-15 18:34] zenopopovici commented on #21
@dildeeplehal here's the config for SASS if you really want to use ems/rems:

Drop this in your mixins file:
[code]

Modify your Mustache template like this:

[code]

I haven't tested it but it should to the trick.

[2015-01-15 18:36] zenopopovici commented on #21
@jkphl sure thing :)

[2015-01-16 12:59] ti-dev opened #32 "Upgrade from v0.3.2 to v1.0.11 -> Changes?"
I used this in v0.3.2 in this way:
[code]
In this way, I only a "sprite.svg" file is written into "web/img/gen" directory.

Now I upgraded to the latest version v1.0.11 and I want to have the same behavior: I do this in this way:
[code]
I see this in my command line:
[code]
The problem is, no "sprite.svg" will be generated. So sth. has changed, but what's needed to change?

[2015-01-16 13:28] jkphl commented on #32
Hi @ti-dev,

please try this one (untested):

[code]

As of version 1.x, the `mode` key controls which **type of sprite(s)** will be created (*css*, *view*, *defs*, *symbol* or *stack* — with *css* and *view* being traditional CSS sprites). This is **not** the type of CSS resource that will be created, which you would control via:

[code]

Also, you might want to customize e.g. the sprite file nam

[2015-01-16 13:28] #32 closed

[2015-01-16 13:59] ti-dev commented on #32
Thank you for the quick reply.

With this configuration, it works to generate the file correctly:
[code]
The last problem is, that the ``id`` of every svg was before the library upgrade ``folder1-folder2-imagename``. Now it is ``web--img--folder1--folder2-imagename``. So I understand the difference between ``-`` and ``--``, so ``--``means directory and that's okay for me. But in the latest version

[2015-01-16 14:26] jkphl commented on #32
First of all, I don't think it's ideal to use `"web/img/**/*.svg"` as value for the `src` option, as this will **also scan your output directory `"web/img/gen"` itself** and include your generated sprite in the next run.

Second, as far as I understand, `cwd` (which is correct to use here by the way) doesn't apply to the `dest` directory. So I suppose you'd rather specify `"web/img/gen"` as `dest`

[2015-01-16 14:39] ti-dev commented on #32
The dest has a ``../`` so it is not included into the ``src``part. In reality it also does not include in the next svg_sprite task the previously created sprite file. So that's not a problem in my case.

Okay, I use ``cwd``only for ``src``, so I have
[code]
But I get the same error message and the created ``sprite.svg``has the content ``<svg width="0" height="0" viewBox="0 0 0 0" xmlns=[…]" xmlns:

[2015-01-16 14:45] jkphl commented on #32
Could you please send me your very project files (and directory structure) along with conf complete configuration to joschi@kuphal.net? I'll try to figure out what's the problem.

[2015-01-16 15:01] ti-dev commented on #32
The problem occurs in ``svg_sprite.js``:
[code]

[2015-01-16 15:32] jkphl commented on #32
Ah, an important information: You're on Windows. That changes a lot. ;) I'll try to figure out the problem (which obviously is no problem under Linux ...)

[2015-01-16 15:58] ti-dev commented on #32
Yes, I am working on a Windows machine. That would be really nice if you can take a look into it.
Thanks in advance for your help!

[2015-01-16 18:27] jkphl commented on #32
Good news: I could tackle the problem (which affected all platforms, by the way). Thanks for reporting this, support for `cwd` was completely broken.

To get a quick fix, please replace *grunt-svg-sprite*'s task file `tasks/svg_sprite.js` with the [most recent one](https://github.com/jkphl/grunt-svg-sprite/tree/master/tasks). I'll push out an official bugfix release as soon as possible (but want t

[2015-01-16 22:43] dildeeplehal commented on #21
Thanks for your help guys. I've implemented that. Had to change some stuff in the mustache template to get it to work in sass and it has basically done what i wanted to do now. Needs a bit of refining but on the right track now. It was tough getting around the Mustache syntax because i'm not familiar with that. :)

[2015-01-16 23:05] jkphl commented on #21
Glad it works for you now! :)

[2015-01-19 20:32] ti-dev commented on #32
It works great with your latest ``tasks/svg_sprite.js`` file. Thanks a lot!

[2015-01-19 20:33] jkphl commented on #32
Thanks for letting me know! Happy spriting! :)

[2015-01-20 10:47] deepfriedmind commented on #31
But wouldn't you still need the dimensions in CSS? When using `symbol` output and creating an `example`, the generated HTML-file has the following comment:

[code]

And then some inline CSS with the dimensions of the SVG symbols, e.g.:

[code]

Is it not possible to have this CSS output to a separate file?

[2015-01-20 11:26] jkphl commented on #31
Good point. Let me think about this. Will get back to you later.

[2015-01-27 00:14] jkphl commented on #31
I just pushed a [new version](https://github.com/jkphl/grunt-svg-sprite/releases/tag/v1.0.12) out the door that supports creating a dimensions stylesheet along with non-CSS sprites (`defs`, `symbol` and `stack` mode). However, this is not really documented anywhere yet. Just use it as you would do with the CSS sprite types (`css` and `view`). Please let me know if you need further assistance.

[2015-01-27 00:14] #31 closed

[2015-02-11 08:49] nicksyndicate opened #33 "What means \: ?"
After generation see this code

[code]

What means this ``` \: ``` ?

[2015-02-11 08:59] nicksyndicate commented on #33
Plz close issue. I mistaked repository.

[2015-02-11 09:00] jkphl commented on #33
Pls read [this thread](https://github.com/jkphl/gulp-svg-sprite/issues/9) for an explanation.

[2015-02-11 09:00] #33 closed

[2015-02-11 21:13] scottastrophic opened #34 "Custom output filenames/paths?"
Does the Advanced Features documentation pointing to the main svg-sprite repo mean that those features are currently not accessible via options specified in the Gruntfile? I can't see anywhere in https://github.com/jkphl/grunt-svg-sprite/blob/master/tasks/svg_sprite.js that would provide a hook to change the output names and paths, but I wanted to make sure I'm not missing something. Thanks!

[2015-02-11 21:35] jkphl commented on #34
Hi @scottastrophic,

it's exactly the other way round: As [stated in the grunt-svg-sprite docs](https://github.com/jkphl/grunt-svg-sprite#options), you can pass **all of the svg-sprite options** as `options` to your Grunt task (have a look at the [basic example](https://github.com/jkphl/grunt-svg-sprite#basic-example)). Maybe [this](https://github.com/jkphl/svg-sprite/blob/master/docs/grunt-gulp.m

[2015-02-11 21:35] #34 closed

[2015-02-11 21:36] jkphl commented on #34
Oh, and maybe you'd want to use the [brand new online configurator](http://jkphl.github.io/svg-sprite) to kickstart your Gruntfile? (Very early stage, feedback welcome!)

[2015-02-11 21:56] scottastrophic commented on #34
The configurator proved super useful for figuring out exactly what I needed to do (change "true" to a configuration object). It's just about perfect, thanks very much.

[2015-02-11 21:57] jkphl commented on #34
Thanks. You're very welcome! :)

[2015-02-13 08:57] justineberger opened #35 "Can't get horizontal alignment to work"
Hi there
Thank you for this grunt svg sprite, i've been searching around and right now i feel like it's the best one among all the similar existing plugins.

However i haven't been able to understand how extended alignment works.
I want to align my svgs horizontally within the sprite. But i'm so lost with the documentation, do we actually use the strings "vertical" or "horizontal" somewhere ? I ha

[2015-02-13 09:03] jkphl commented on #35
Hi @justineberger,

I'm happy to help you with that. Before we start, just to make sure: You did read the [alignment docs of svg-sprite](https://github.com/jkphl/svg-sprite/blob/master/docs/shape-alignment.md), right?

And just to get the prerequisites: What you want to achieve is sprite where all the shapes are one below each other ("vertical" layout) and centered horizontally (like [this example

[2015-02-13 09:20] justineberger commented on #35
Hey Joschi, thank you for the quick response.

Yes, i did read that page several times but it just didn't click, sorry...
Hmm no i want the exact opposite of your example : all the shapes aligned next to each other, but centered vertically (yeah i might have gotten confused. The shapes should be aligned horizontally, but centered vertically. As they don't have the same height.).

Thank you

Justin

[2015-02-13 09:51] jkphl commented on #35
Anyway, that's super easy. All you need is a (YAML) file with exactly this content (Important: there are **two spaces** at the beginning of the second line; That's YAML syntax ...):

[code]

Save it wherever you like, provide it as `shape.align` option ([see here](https://github.com/jkphl/svg-sprite/blob/master/docs/configuration.md#miscellaneous-shape-options) for details) and set you sprite layo

[2015-02-13 10:20] justineberger commented on #35
Ah, perfect !  i got it to work, thank you :)

Here is a suggestion, if i may, to make it even better (i keep it in this thread because it's still related to alignment). Maybe this has already been implemented but i couldn't find exactly want i was looking for. Ideally, i would like to automate the following steps:

1. I have a bunch of svg with different widths and heights.
![icons-alignment_01](

[2015-02-13 10:29] jkphl commented on #35
Sounds like a nice addition, indeed! Thanks for the suggestion(s). I could imagine a "boxed" spacing mode — will think about implementing it into one of the next releases. :)

I will close this issue for now and open another one with the feature suggestion. Please feel free to re-open it in case you still have troubles.

Cheers,
Joschi

[2015-02-13 10:29] #35 closed

[2015-02-13 13:19] tolvstein opened #36 "Mulitple src folders"
Reposting in the correct project, sorry :)

Would it be possible to somehow set multiple src folders likes this:

src: [
'common/images/svg/',
'project1/images/svg/'
]

As it is right now, the script only handles the first src param and ignores the second one. I have multiple subprojects in which I would like to have both common svgs (used in multiple projects) and project specific svgs in differe

[2015-02-13 13:27] jkphl commented on #36
Hey @tolvstein,

thanks! ;)

I'll see what I can do about it. :+1:

Cheers,
Joschi

[2015-02-13 16:57] jkphl commented on #36
@tolvstein I just did a quick test. Are you sure that you are working with the latest version of *grunt-svg-sprite*? Having multiple source directories seems to work just fine for me (with and without `cwd` argument). Could you please post your complete Grunt task? Thanks!

[2015-02-18 08:25] LostSenSS commented on #31
@jkphl It looks like the mode.<mode>.dimensions doesn't work with value TRUE (as it is noticed in the documentation, but it should work now, doesn't it?)

[2015-02-19 12:04] jkphl commented on #31
@LostSenSS I can't confirm this. For me, a basic configuration like

[code]

just works fine. Could you please post your full configuration?

[2015-02-19 13:16] LostSenSS commented on #31
@jkphl My configuration:

[code]

I tried your configuration but I got the same:
[code]

But I wanted to get:
[code]

[2015-02-19 13:19] LeG3nDz opened #37 "Error message on npm install"
Hi,

I would like install this plugin, but i've error message on npm install grunt-svg-sprite --save-dev.

From log :

    8640 error Windows_NT 6.1.7601
    8641 error argv "C:\\Program Files\\nodejs\\\\node.exe" "C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js" "install" "grunt-svg-sprite" "--save-dev"
    8642 error node v0.12.0
    8643 error npm  v2.5.1
    8644 error code ELIFE

[2015-02-19 13:24] jkphl commented on #31
@LostSenSS It seems like you misinterpreted what setting `dimensions` to `TRUE` is meant for. For non-CSS sprites («defs», «symbol» and «stack»), `TRUE` means essentially the same as not setting `dimensions` at all. Please try setting it to `"%s"` and let me know the results.

[2015-02-19 13:27] jkphl commented on #37
@LeG3nDz Did you install PhantomJS before? If not, please make sure to do so — and be aware that *grunt-svg-sprite* is not yet compatible with the brand new PhantomJS 2.0. You might get the right version at https://code.google.com/p/phantomjs/downloads/list

[2015-02-19 13:44] LeG3nDz commented on #37
Hi @jkphl,

Yep, PhantomJS is on my Windows, and he's present on the PATH. v1.9.8.

[2015-02-19 13:51] jkphl commented on #37
Can you please try to do a global PhantomJS Node install, like `npm install phantomjs -g` (untested)?

[2015-02-19 14:09] LeG3nDz commented on #37
Install has functioned after remove node_module folder. But i think it's don't work :(

I've add the task, but no result :

    svg_sprite: {
        your_target: {
            src         : ['/images/*.svg'], // my svg files
            dest        : '/images/sprite', // dest folder
        }
    }

If i start the task on my command, i see done, without errors :+1:

    grunt svg_sprite
    Runni

[2015-02-19 14:10] LostSenSS commented on #31
@jkphl Thank you very much, it works right. There is only one thing, `prefix` stopped work (dots in css disappeared), but I moved it to dimensions: `dimensions: '.%s' `

[2015-02-19 14:47] jkphl commented on #31
@LostSenSS Sorry, my fault: Please set `prefix` to `".%s"`  and `dimensions` to `"%s"`, that should work too (auto-prepending CSS selectors with a dot was remove in [this svg-sprite commit](https://github.com/jkphl/svg-sprite/commit/ef0be55ee2efc0a4bbe01ad1e6d1305d2d45aea4)).

[2015-02-19 14:50] jkphl commented on #37
Please refer to the documentation and learn how to use *grunt-svg-sprite*. You need to pass a configuration object, otherwise you won't get any reasonable output. See the [basic example](https://github.com/jkphl/grunt-svg-sprite#usage-examples) as a starter.

Cheers, Joschi

[2015-02-19 14:50] #37 closed

[2015-02-19 15:02] LostSenSS commented on #31
@jkphl Looks like it doesn't work:
[code]

Result:
[code]

[2015-02-20 15:34] jkphl commented on #31
@LostSenSS Sorry, that was a bug which is now fixed with [release v1.0.18](https://github.com/jkphl/grunt-svg-sprite/releases/tag/v1.0.18).

[2015-03-08 13:03] tkoomzaaskz opened #38 "Console error message missing when sprite compilation failed"
Currently, when you've got an error in your grunt config which will lead to compilation error, you will see that everything is alright and it's misleading:

    Tomasz.Ducin@WAWLT548 ~/Tests/svg-sprite-test
    $ grunt --force
    Running "svg_sprite:basic" (svg_sprite) task

    Running "svg_sprite:basic2" (svg_sprite) task

    Running "svg_sprite:flags" (svg_sprite) task

    Done, without erro

[2015-03-08 13:08] tkoomzaaskz commented on #38
The solution for this is done in #39.

[2015-03-08 13:15] jkphl commented on #38
Hey @tkoomzaaskz,

awesome — thanks for this contribution. I must have overseen that I never finished that one! :+1:

Cheers,
Joschi

[2015-03-08 13:15] #38 closed

[2015-03-17 00:41] TheSanketSharma opened #40 "Source path not being expanded properly"
It seems like the plugin is ignoring the cwd option passed in via gruntfile config. So give a config like below:

It seems like the plugin ignores the cwd option and starts processing all directories located in the base folder where gruntfile lies.

To verify my findings, I examined svg_sprites.js and it seems the following line (line no 66):

is cause of the problem. The line above ignores the cw

[2015-03-17 09:08] jkphl commented on #40
Hi @TheSanketSharma,

thanks for reporting this. I will have a look as soon as possible (which might turn out to be end of the month though). Thanks for your patience.

Cheers,
Joschi

[2015-03-17 22:00] TheSanketSharma commented on #40
My bad, I investigated this further and seems like I ended up installing the wrong grunt-svg-sprite module. There is another grunt-svg-sprites module (notice the 's' at the end) https://www.npmjs.com/package/grunt-svg-sprites which caused the confusion. I ended up installing the wrong npm module and was wondering why the config is not working.

Apologies for the trouble.

[2015-03-17 22:00] #40 closed

[2015-03-18 09:07] jkphl commented on #40
Glad you could figure this out! :+1:

[2015-04-07 13:16] PeterMK85 opened #41 "Using mixin in Grunt wrapper"
Hello here also ;) Sorry for disturbing not getting thru with the mixin stuff in grunt, here is an example where I want to use the freshly merged in mixin option:

    example: {
               expand: true,
                cwd: '<%= yeoman.app %>/images/example/design/sprites-vector',
                src: ['**/*.svg'],
                dest: '<%= yeoman.app %>/',
                options: {

[2015-04-07 14:55] myurtsev opened #42 "Changing created directory's"
Hi,

Is there an option to prevend the creation of the 'view' and 'svg' directory? Right now it is automaticly saved in 'view/svg/sprite.view.svg' I just want the sprite.view.svg placed in the dest directory.

Another question :) Can I name it to?

Basically I want to name and save the created sprite and css where I want to. Hope you can help.

Thanks!

[2015-04-08 04:06] PeterMK85 commented on #42
Hello @myurtsev,

Check this out:

    example: {
           expand: true,
            cwd: '<%= yeoman.app %>/images/example/design/sprites-vector',
            src: ['**/*.svg'],
            dest: '<%= yeoman.app %>/',
            options: {
                mode: {
                    css: {
                        prefix: '%example-%s',
                        dest: 'styles/example', //scss des

[2015-04-08 05:33] jkphl commented on #42
Thanks for helping out, @PeterMK85! :)

@myurtsev: Yes, there are config options for all of these. Basically, you need to set the [main output directory](https://github.com/jkphl/svg-sprite/blob/master/docs/configuration.md#main-output-directory) `dest`, the [mode output directory](https://github.com/jkphl/svg-sprite/blob/master/docs/configuration.md#common-mode-properties) `mode.view.dest` and th

[2015-04-08 05:33] #42 closed

[2015-04-08 07:13] PeterMK85 commented on #41
Sorry @jkphl
Do you have an idea, what's I'm missing here?

[2015-04-08 07:16] jkphl commented on #41
Sorry @PeterMK85, I'm totall overloaded right now (will have a very important meeting in 2 hours). I'll try to get back to you this afternoon.

[2015-04-08 08:25] myurtsev commented on #42
Thank you @jkphl and @PeterMK85 really helpfull! But is it also possible to change the background position in pixels instead of percentages.

[2015-04-08 08:27] jkphl commented on #42
Yes, you can always author your own Mustache template and use the absolute position values instead. However, switching to relative positioning (and thus **making the positioning responsive**) was one of the major improvements of the new *svg-sprite* generation. Why would you want absolute positioning?

[2015-04-09 22:57] jkphl commented on #41
You need to pass in a valid `mode.<mode>.mixin` option for the mixin to be created. Please see [here for a parameter description](https://github.com/jkphl/svg-sprite/blob/master/docs/configuration.md#css--view-mode). Your config should look something like this:

[code]

Please let me know if you succeed now.

Cheers,
Joschi

[2015-04-09 22:57] #41 closed

[2015-04-09 22:58] jkphl commented on #36
@tolvstein Any progress on this?

[2015-04-18 22:43] jkphl commented on #36
@tolvstein I'll close this for now. Please feel free to reopen the issue in case you still got problems.

[2015-04-18 22:43] #36 closed

[2015-04-22 00:44] stevenalanstark opened #44 "I'm having cwd issues"
Hello,

This is working without using cwd, but when I try to use cwd the path is partially duplicated. I'm unable to determine why this is happening.

grunt options:

    svg_sprite: {
      client: {
        expand: true,
        cwd: 'client/public/svgs/',
        src: ['**/*.svg'],
        dest: 'client/public/out/',
        options: {
          mode: {
            css: {
              render:

[2015-04-22 22:47] jkphl commented on #44
Looks like this has been a Windows specific bug. Fixed with [release v1.1.2](https://github.com/jkphl/grunt-svg-sprite/releases/tag/v1.1.2). Cheers, Joschi

[2015-04-22 22:47] #44 closed

[2015-04-28 06:41] LeG3nDz opened #45 "Task done, but without sprite svg"
Hi,

I test your plugin for generate svg sprite, but after start task svg_sprite, I have no output file.

My code :

    svg_sprite                  : {
        basic                   : {

            // Target basics
            expand              : true,
            cwd                 : 'images/svg/*.svg',
            src                 : ['images/svg/*.svg'],
            dest

[2015-04-28 07:29] jkphl commented on #45
Hi @LeG3nDz,

without having tested it: You should get rid of that `*.svg` in your `cwd` setting ("**c**urrent **w**orking **directory**"). Please let me know if that works for you.

Cheers,
Joschi

[2015-04-28 09:27] LeG3nDz commented on #45
Yop,

Thak you for response. I've test without "*.svg", but no result :

    svg_sprite : {
        basic : {
            expand              : true,
            cwd                 : 'images/svg',
            src                 : ['images/svg/*.svg'],
            dest                : 'out'
        }
    }

[2015-04-28 11:03] jkphl commented on #45
Ok, seems like there's still an error that I didn't spot in the first place. Please have a look at the example config from the docs:

[code]

The `cwd` setting specifies the working directory, while the `src` settings specifies the glob within the `cwd`. So your setup would look for SVGs like `images/svg/images/svg/*.svg`. Please modify your `src` setting accordingly.

Cheers,
Joschi

[2015-05-11 19:41] XhmikosR opened #50 "Tests fail on Windows"
Check https://ci.appveyor.com/project/XhmikosR/grunt-svg-sprite

I can provide a PR to add AppVeyor support as long as you add AppVeyor for this repo and ping me.

[2015-05-11 20:02] XhmikosR commented on #50
OK, I think I narrowed it down to svg2png. Something goes wrong in its phantomjs call.

[2015-05-12 05:39] XhmikosR commented on #50
This whole issue is weird :/ The individual modules all work fine on the same machine, same OS.

Can this issue be caused by ImageMagick version differences?

[2015-05-12 12:07] burakhanalkan opened #51 "Seperator does not change"
Hi,
I generated css outputs by using your plugin with the configuration settings which are below. However, still seperator is generated with double line
(.icon-content--application--images--icon-set--edit-gray)

Also, when i try to leave prefix as  "prefix: '.icon-'" still folder path is added.

svg_sprite: {
            basic: {
                expand: true,
                cwd: 'ReponsiveWeb',

[2015-05-12 12:24] jkphl commented on #51
Without having tested it, please try writing `separator` instead of `seperator` ;)

Cheers, Joschi

[2015-05-12 12:30] burakhanalkan commented on #51
Hi,

In the code that part is true :)
But i found the mistake, shape config part must be inside of options. When i try as below it worked.

 options: {
                    shape: {
                        id: {
                            separator: '-',
                            generator: 'sprite'
                        },
                        dimension: {
                            maxWi

[2015-05-12 12:30] #51 closed

[2015-06-01 21:51] jkphl commented on #45
Hi @LeG3nDz,

did you have the chance to test this again with a corrected `svg` setting? Any progress on this? Thanks!

Cheers, Joschi

[2015-06-02 13:04] LeG3nDz commented on #45
Hi @jkphl

Yep, with your past post, it's okay :)

Thank you !

[2015-06-02 13:15] jkphl commented on #45
Good to know, and glad it works for you! Cheers!

[2015-06-02 13:15] #45 closed

[2015-06-02 14:56] PeterMK85 opened #52 "Change % based with declaration px based one"
Due to different devices transforms % into different px values it would be better to use px based ones.

Exact defect:
+ On IPhone 4 or Internet Exporer 11 on win, the plugin generated %based size is totally different than a Chrome on win.
(also a possibility to make this optional)

[2015-06-02 22:25] jkphl commented on #52
Well, switching from absolute (pixels) to relative (percent) positioning was one of the major improvements of the latest *svg-sprite* generation, essentially enabling responsive use of the sprites. I didn't run into problems with this so far. Please provide an example sprite / setup which I can reproduce your problems with.

Besides that, you may still override the default Mustache template used f

[2015-06-02 22:25] #52 closed

[2015-06-03 07:18] PeterMK85 commented on #52
@jkphl hmm probably I'm missign a point here, what do you mean under *percent* is enabaling the responsivness?

Here is a good example for how the % is calculated differently **(percents at the end are pixel values)** /Open it in different browsers: http://cruft.io/rounding /

# Calculated difference
*(On  **Windows 8.1** *Chrome 43.0.2357.81m* and *IE11.0.9600.17801*)

[2015-06-04 14:59] flecno opened #53 "svg-sprite 1.2.0 breaks grunt-svg-sprite"
It seems the new version of svg-sprite https://github.com/jkphl/svg-sprite/releases/tag/v1.2.0 matches `^1.1.2` (https://github.com/jkphl/grunt-svg-sprite/blob/v1.1.2/package.json#L32).
The versions are not compatible:

[code]

[2015-06-04 15:06] jkphl commented on #53
@flecno Sorry, v1.2.0 was broken. I just pushed out a new release, new grunt package following shortly. Cheers, Joschi

[2015-06-04 15:06] #53 closed

[2015-06-04 15:12] flecno commented on #53
thx

[2015-06-04 16:42] benbracha opened #54 "Using grunt-svg-sprite @ 1.2.1 stop working"
In the last hour, we started to get this exception:

[code]

Seems that although we didn't change the grunt-svg-sprite version, some inner dependencies changed (specifically - the async and svgo).

Here is a comparison:

Failing:
svg-sprite@1.2.1 (cssmin@0.4.3, css-selector-parser@1.0.4, xmldom@0.1.19, mustache@2.0.0, cssom@0.3.0, xpath@0.0.9, mkdirp@0.5.1, glob@5.0.10, vinyl@0.5.0, async@1.2.0, j

[2015-06-04 16:45] benbracha commented on #54
Small correction: we were working with grunt-svg-sprite "1.1.2" version, and didn't change that. Seems it was suddenly fetching a newer version of svg-sprite as well.

[2015-06-04 17:06] jkphl commented on #54
No idea why your installation seems to have auto-updated itself, but the tests for the latest version that i released 2 hours ago were running fine. Have done a full update in the meantime to pull in all the latest dependencies?

[2015-06-04 17:08] benbracha commented on #54
I did make a full update, and then it started to reproduce..

[2015-06-04 17:11] jkphl commented on #54
Ah, and something more: I remember having had a similar issue in the past, where the reason finally was an SVG source file that was not a (valid) SVG file. I'm only on my mobile right now and can't search effectively, but you might find the case in the (grunt-/gulp-)svg-sprite issues.

I did a small tweak on the regular expression that tries to identify non-valid SVG files. Maybe I thus introduced

[2015-06-04 17:14] benbracha commented on #54
We didn't make any changes to our source files.

Another thing that may help - note that we were only depended on:
[code]

In order to overcome this issue we added:
[code]

Maybe the grunt-svg-sprite dependency of svg-sprite was changed, but this shouldn't be done without changing the version of grunt-svg-sprite itself, IMO.

[2015-06-04 17:21] jkphl commented on #54
Could you please send me your complete Grunt task config and package.json dependencies (and possibly your SVG files) to joschi [at] kuphal [dot] net? I'll try to have a look at it later today or tomorrow. As I said, the build was passing fine, there must be wrong something else ...

[2015-06-04 17:22] benbracha commented on #54
Thanks, I'll send it.

[2015-06-04 17:32] jkphl commented on #54
One last thing which isn't yet clear to me: Did you also try to update the *grunt-svg-sprite* version to the latest 1.2.1 (and run a full `npm update`) afterwards? Or did you (resp. your setup) try to run grunt-svg-sprite @ 1.1.2 along with svg-sprite @ 1.2.1? (The version numbers should always be in sync ...)

[2015-06-05 13:11] benbracha commented on #54
We only had grunt-svg-sprite on our package.json file, using version 1.1.2.
Our build always starts from a clean workspace.
It always got grunt-svg-sprite 1.1.2 and svg-sprite 1.1.2.

Yesterday, it started to bring svg-sprite 1.2.1 (and still grunt-svg-sprite 1.1.2).

So, as a workaround, we added to our package.json file that we should use svg-sprite 1.1.2.
It seems grunt-svg-sprite dependency of

[2015-06-05 13:34] jkphl commented on #54
Ok, so you've still got *grunt-svg-sprite* 1.1.2 in your `package.json` right now, right?

Could you please update that to 1.2.2 (there has been another new release in the meantime) and run `npm update` afterwards? That should pull in the latest versions of both *svg-sprite* and *grunt-svg-sprite* and with some luck you're all set again.

Btw thanks for sending me your dependencies. However, witho

[2015-06-05 13:41] benbracha commented on #54
Yes, I still got grunt-svg-sprite 1.1.2 in my package.json file.

What I don't understand - how come, from yesterday, we suddenly started to get svg-sprite 1.2.1, without doing any change to SVG files or package.json.

I think we are ok with 1.1.2, unless there is a real reason to upgrade?

As I said, now we also have svg-sprite in package.json, pointing to 1.1.2. This solved the issue.
I don't wa

[2015-06-05 13:50] jkphl commented on #54
→ I don't understand this as well. As long as you don't trigger `npm update` or alike, nothing should change, ever.

→ Exactly that's **the** real reason to upgrade. Until yesterday, *grunt-svg-sprite*'s dependency setting was `svg-sprite ^1.1.2`, so even `1.2.x` might have been pulled in (but not automatically, of course). With the new version(s) I changed this to `~1.2.2` so that only patches mi

[2015-06-05 13:54] benbracha commented on #54
On each build we do "npm install" on a clean, fresh (no npm cache) VM environment.

Because grunt-svg-sprite was using svg-sprite ^1.1.2, it may explain that...
What I don't fully understand, is that even when we fetch each time the grunt-svg-sprite on 1.1.2, it should be a "closed" npm package and shouldn't re-fetch its dependencies. So once grunt-svg-sprite 1.1.2 was registered with npm, it shou

[2015-06-09 08:53] jkphl commented on #52
Hi Peter,

sorry for the late reply! I'm not sure if you intentionally deleted your
latest comment, but I can't find it nowhere on GitHub anymore. Anyway, I
prepared a little pen to display what I mean with "enabling responsivity":

http://codepen.io/jkphl/pen/YXVdMX

As soon as you want to scale an SVG sprite shape embedded with
`background-image` you will have to use `background-size: 100% auto`

[2015-06-11 21:54] soultech67 opened #55 "Fatal error: Cannot read property 'distribute' of undefined"
I just posted the following issue (https://github.com/jkphl/svg-sprite/issues/94) at https://github.com/jkphl/svg-sprite with details about a bug we're seeing with grunt-svg-sprite / svg-sprite.

I wanted to post the info here as well so people don't spin their wheels.

1. We reference grunt-svg-sprite as "^1.1.10" and end up with the latest after an 'npm install' on a fresh box.
2. Back in 1.1.10

[2015-06-11 21:59] jkphl commented on #55
You're right, the dependency confusion has already been fixed.

[2015-06-11 23:49] jkphl commented on #55
Fixed, please see https://github.com/jkphl/svg-sprite/issues/94 for an explanation.

[2015-06-11 23:49] #55 closed

[2015-06-17 15:35] jkphl commented on #54
I guess you simply cannot.

However, your original issue should be solved (or at least solvable) now, right? I'll close this one for now, but please feel free to reopen it in case of further problems.

Cheers, Joschi

[2015-06-17 15:35] #54 closed

[2015-07-08 03:55] 6eDesign opened #56 "Trouble setting up custom templates / Using PNG instead of SVG optionally"
Hello,

This is an awesome project you have going here, thanks so much for your hard work.  I'm hoping you can  point me in the right direction on a requirement I'm trying to accomodate: optionally using PNG sprites instead of SVG.

I have already used grunt-svg2png to automatically convert all SVG's in my spritesheet folder to PNG files after the grunt-svg-sprite task runs.  Now, I'm just trying

[2015-07-08 13:35] 6eDesign commented on #56
Also, fwiw I've defined the png function in the variables object.

[2015-07-29 08:42] jkphl commented on #56
Hey @6eDesign,

first of all sorry for not responding earlier! I must have overseen your issue somehow and just "found" it when checking the repo. I'll do my best to help you with this one (if it's still relevant‽).

Could you please post your complete configuration object so that I can get an overview? Thanks!

Cheers,
Joschi

[2015-07-29 15:42] benbracha opened #57 "Generated icons class names are wrong (on windows)"
Hello,

We recently encountered an issue where the generated selectors are wrong - in case of having the icon name, they contains icon path.

We work with:
[code]
(updating to latest, didn't solve the issue..).

For example:
We used to get the generated selectors to be:
[code]
And now we get:
[code]

Our grunt settings are:
[code]

And the dev template:
[code]

Any idea?

[2015-08-11 22:24] jkphl commented on #57
Hi @benbracha,

first of all sorry for not getting back to you earlier.

I suspect you got hit by the broken `cwd` support that was tackled with issue #32. Please try to change your config like this:

[code]

and please let me know if this works for you.

Cheers,
Joschi

[2015-08-19 18:31] jkphl commented on #56
@6eDesign Any updates on this one?

[2015-09-03 15:58] jsr6720 opened #58 ""Done without errors" shows when there are errors processing file."
See below output. I wasn't seeing a file, had to turn on logging.

Would suggest either "info" logging by default, with option of "none" or fix error message to indicate a file failed to process.

[code]

![image](https://cloud.githubusercontent.com/assets/502432/9663650/71af1800-5233-11e5-9df4-04ece8f6096b.png)

[2015-09-03 20:24] jkphl commented on #58
Hey @jsr6720,

thanks for this report. I agree that a failing SVG file should result in an error message regardless of the logging mode. At least it shouldn't state "Done, without errors.". However, I'd prefer not to enable logging by default, as this could produce quite some noise in cases with many SVG files ...

I'll consider this for the next release.

Cheers, Joschi

[2015-09-07 14:12] tanmay1978 opened #59 "wrong dimensions and color"
An icon of dimension 40x40 when added to sprite it renders it as 50x50

Another issue is with the color. If I have a svg icon of white when that is added to the sprite it defaults to black. But that is beacause a class is added to all the svg elements and that class is overriden for other icons in the sprite. Is that a way to eliminate the use of css styles that it applies by default?

[2015-09-07 14:20] jkphl commented on #59
Hey @tanmay1978,

regarding the dimension issue, please post your complete configuration for the transformation.

Regarding the color: Please follow [this thread](https://github.com/jkphl/svg-sprite/issues/96) for an explanation (and possible solution).

Cheers, Joschi

[2015-09-07 14:39] tanmay1978 commented on #59
Hi the grunt config is as follow

// Make SVG sprite images from input svg icons
		svg_sprite : {
			your_target : {
				cwd			: paths.images.srcIcons,
				src         : '*.svg',
				dest        : paths.images.staticImages,
				options                 : {
					shape               : {
						spacing         : {
							padding     : 5
						}
					},
					mode                : {
						view

[2015-09-07 14:55] jkphl commented on #59
So the dimension increase from 40 to 50 pixels is a logical result of your `shape.spacing.padding = 5` option, as `shape.spacing.box` defaults to `"content"`. Please see the [documentation](https://github.com/jkphl/svg-sprite/blob/master/docs/configuration.md#shape-spacing) for all details about this.

Did you follow the other thread regarding the CSS issue.

As I don't see any error in `svg-sprit

[2015-09-07 14:55] #59 closed

[2015-09-07 14:56] tanmay1978 commented on #59
Thanks will can confirm

[2015-09-07 15:05] tanmay1978 commented on #59
I just checked if I use shape.spacing.box then the sprites are generated with no spacing between them and still the dimensions vary by 10px

[2015-09-07 19:22] jkphl commented on #59
What value did you set for `shape.spacing.box`?

[2015-09-08 06:17] tanmay1978 commented on #59
it was set to "content"

[image: --]

Tanmay Arun Navghare
[image: https://]about.me/tanmayarunnavghare
<https://about.me/tanmayarunnavghare?promo=email_sig>

On Tue, Sep 8, 2015 at 12:52 AM, Joschi Kuphal <notifications@github.com>
wrote:

[2015-09-08 06:52] jkphl commented on #59
So you didn't change anything? Then, of course, the behavior wouldn't change. Again, please read [the relevant documentation section](https://github.com/jkphl/svg-sprite/blob/master/docs/configuration.md#shape-spacing) to understand the available options and how to use them. Thanks.

[2015-09-18 21:21] jkphl commented on #57
@benbracha Any updates on this?

[2015-09-18 21:22] jkphl commented on #56
@6eDesign As there hasn't been any activity on this for quite a while, I will close this for now. Please feel free to let me know if you've still got problems with this.

[2015-09-18 21:22] #56 closed

[2015-10-07 16:09] jkphl commented on #57
I'll close this one for now due to inactivity. Please feel free to ping me in case you've still got problems with it.

[2015-10-07 16:09] #57 closed

[2015-10-07 17:04] jkphl commented on #58
As of [release 1.2.11](https://github.com/jkphl/grunt-svg-sprite/releases/tag/v1.2.11) the task will abort and dump an error message in case something goes wrong, even if logging isn't turned on.

[2015-10-07 17:04] #58 closed

[2015-10-07 17:36] jsr6720 commented on #58
Thank you.

[2015-10-15 14:37] craft37 opened #60 "Task runs, but not compile something"
Hello.

Stunned with trouble, pleased somebody to help.
Firstly, scirpt runs only with expand:true option.
Secondly, when it even runned with no-errors, there are no compiled css neither svg-sprite.
Terminal log is clear so I just dont know what happened that task just runs in 18ms with no result.
Tried to comment options, but also no result.

Ubuntu 15.10
Node 4.1 stable

![screenshot from 2015-1

[2015-10-15 14:43] jkphl commented on #60
It's probably a config problem. Please ensure

1. that `cwd` is a valid path on your file system, and
2. that `src` is a [valid globbing pattern](http://gruntjs.com/configuring-tasks#globbing-patterns) **relative to `cwd`** matching your SVG files (e.g. `**/*.svg`).

Of course `expand` needs to be true for `cwd` to work, please see the [relevant Grunt documentation sections](http://gruntjs.com/con

[2015-10-15 15:48] craft37 commented on #60
Now I wrote absolute path and have funny message.
[code]
So, it see filename, but not see files themeselfes.

Config is:

[code]

Let me descibe how I understood:
cwd - root of src dirctory
src - sources with many SVG icons
dest - place to compiled svg sprite (not necessary to write path with filename, right?)

Understand that this is kind a strange problem, but I am pretty comfortable with anothe

[2015-10-15 16:15] jkphl commented on #60
I'm not sure whether `/*/app/images/icons/*.svg` is valid for the `src` property. Please try stripping off the leading `/`.

Right, without the filename, just a directory.

[2015-10-16 09:37] craft37 commented on #60
Joschi, I've finally compiled sprites with empty cwd!
One another question - is it possible to keep styles and sprites in different dest fodlers?
thanks!
[code]

[2015-10-16 10:37] jkphl commented on #60
Hey @craft37,

glad that it works for you now.

Sure! Your CSS files will be rendered to `mode.<mode>.dest`, while there's `mode.<mode>.sprite` to control the sprite location (relative to `mode.<mode>.dest`). Please see the [chapter about output destinations](https://github.com/jkphl/svg-sprite#output-destinations) for more details.

Cheers, Joschi

[2015-10-16 10:37] #60 closed

[2015-10-16 11:55] craft37 commented on #60
Sorry, I dont got from docs - could I configure separate dests from grunt or I need to use it in 'manual '  way?

[2015-10-16 12:55] jkphl commented on #60
All the configuration options are shared between the Grunt, Gulp and Node version of *svg-sprite*. You may also always use the [online kickstarter](http://jkphl.github.io/svg-sprite) to create your config.

[2015-10-16 14:23] craft37 opened #61 "Feature request: change svg fill to currentColor optionally"
It will be nice if script could optionally change svg fill to 'currentColor', so it will be possible to change svg color easy with css styles.

[2015-10-16 14:31] jkphl commented on #61
I'm sorry but it's definitely out of *svg-sprite*'s scope to alter the SVG files, at least on a builtin support level. However, you have several options for this:

1. Prepare your SVG files **before** processing them with *svg-sprite*.
2. Use one of the many available [SVG packages](https://www.npmjs.com/search?q=svg) out there to pre- or post-process the SVG files.
3. Use *svg-sprite*'s [shape](h

[2015-10-16 14:31] #61 closed

[2015-10-16 14:31] craft37 commented on #60
Ow, nice option witch config-kickstarter.
thank you.

[2015-10-16 14:43] craft37 commented on #61
Yep, thats clear now.
Thanks for expanded answer. Nice day to you.

[2015-10-24 04:55] extractachris commented on #4
I'm struggling to make this work. Here is what I have:

[code]

[2015-10-24 08:39] jkphl commented on #4
Hey @extractachris,

it looks like you're mixing configuration options of the old and the current version of *sprite-svg*. Please look at the [relevant section in the docs](https://github.com/jkphl/svg-sprite/blob/master/docs/configuration.md#common-mode-properties). There is no option `mode.<mode>.spritedir` (anymore?), only `mode.<mode>.sprite`. Also, the section about [output destinations](http

[2015-10-24 08:51] extractachris commented on #4
:thumbsup:

Thank you!

[2015-11-02 07:36] ottomen opened #62 "SVGSpriter.add: "..\etc\file.svg" is not the local part of "d:\project\etc\file.svg"
Hi!

I added svg sprite task to the Grunt. Here it is:
[code]
All folder nestings are correct, but i get this error: "SVGSpriter.add: "..\..\images\close-cross-black.svg is not the local part of "d:\some_folders\repository\assets\guidelines\images\close-cross-black.svg". What can be wrong with my grunt task configuration?

[2015-11-06 19:50] jkphl commented on #62
Hey @ottomen,

there's nothing wrong with your configuration — it was a restriction that source SVG was not allowed to be located outside the current (working) directory. The latest release fixes this, your configuration should run now! Please let me know if you still encounter errors.

Cheers, Joschi

[2015-11-06 19:50] #62 closed

[2015-11-25 15:37] jvr84 opened #63 "Simple example doesnt work"
[code]

This doesnt work, i had to add the mode to the target specific options to make it work

like this:
[code]

[2015-11-25 15:49] jkphl commented on #63
Thanks for taking the time to work with *grunt-svg-sprite*!

The section you are quoting is not a full-featured usage example but serves the purpose of explaining the general structure of a Grunt task for *svg-sprite*. For working usage examples please have a look at the [like-named section](https://github.com/jkphl/grunt-svg-sprite#usage-examples).

Cheers, Joschi

[2015-11-25 15:49] #63 closed

[2015-11-27 00:00] tiagoferreira-mindera opened #64 "Configure Sprite URL"
Hi guys,

I have the following path schema:

- /styles/core.less  (here im importing sprite.less)
- /styles/spritesheet/css/sprite.less
- /styles/spritesheet/css/svg/sprite.css.svg

However inside sprite.less i have this:

[code]

And this not work because background image path can't be 'svg/sprite'. Instead should be '/spritesheet/css/svg/sprite.css.svg'.

How can i configure the configs on svg s

[2015-11-27 08:23] jkphl commented on #64
Hey @tiagoferreira-mindera,

please have a look at the [documentation of output destinations](https://github.com/jkphl/svg-sprite#output-destinations), that should get you into the right direction. Please let me know if it works for you!

Cheers, Joschi

[2015-11-27 08:23] #64 closed

[2015-11-27 09:26] tiagoferreira-mindera commented on #64
Hi,

Before i've posted this issue here i've tried many things and i have read the documentation but i didnt find anything that can solve my problem.

[2015-11-27 09:40] jkphl commented on #64
Could you please post your complete configuration?

[2015-12-09 22:51] marjanbajc opened #65 "Change SCSS output"
Hi,

can you change SCSS output?

Let me explain what I would like to do.

It would be nice if I could join background-position and height/width in one class and put this rules under :before selector

The way we are doing our icons is with background-position and pseudo selectors.

Is this even possible?

So the SCSS would look like this:

//common class and mixin
@mixin svg-sprite {
    backgroun

[2015-12-09 22:58] jkphl commented on #65
Hey @marjanbajc,

I guess you've got two option:

1. You may prepend the SCSS file name with an underscore (so that Sass won't render a stylesheet out of it by default) and then create your own main SCSS file, importing *svg-sprite*'s one and `@extend` the auto-generated selectors one by one (which would be a manual process).

2. You may go ahead and create your own SCSS template and use it for re

[2015-12-09 22:58] #65 closed

[2015-12-09 23:08] marjanbajc commented on #65
The second I submitted this I found template/dest. And I've been searching for a while how to do it. Oh well :)

Thank you for the reply. And really really great plugin, great work!

[2015-12-09 23:11] jkphl commented on #65
You're welcome! :)

[2015-12-09 23:11] marjanbajc commented on #65
One more thing...how do I display all of the icons in the template?

[2015-12-09 23:18] jkphl commented on #65
I'm not sure if I really understand your question, but there's the `mode.<mode>.example` option ([see here](https://github.com/jkphl/svg-sprite/blob/master/docs/configuration.md#common-mode-properties)) to create a demo page of your sprite. Is this what you're after?

[2015-12-09 23:21] marjanbajc commented on #65
Let me clarify.

I have in 'template':

@mixin svg-sprite {
	background: url("{{sprite}}") no-repeat;
	content: "";
	display: block;
}

.{{common}} {
	&:before {
		@include svg-sprite;
	}
}

Which works perfectly. Not sure how to get a list of icons/classes.
I've tried
{{#svg}}
  {{name}}
{{/svg}}
but it doesn't work.

[2015-12-09 23:52] marjanbajc commented on #65
Cool, found it in node_modules. Thanks again for your help.

[2015-12-24 08:39] AgrawalAmey opened #66 "SVG stack overflow"
I had been trying to use sprites to reduce the number of requests on a web page. My sprite consisted of SVGs of different sizes, using stack is gives white spaces due to the square view-box of parent SVG.
[stack.zip](https://github.com/jkphl/grunt-svg-sprite/files/71648/stack.zip)

[2015-12-24 11:17] jkphl commented on #66
Duplicate of https://github.com/jkphl/svg-sprite/issues/132

[2015-12-24 11:17] #66 closed

[2016-02-01 10:59] killua-x opened #68 "Classnames get prepended letter"
If I have classnames in my SVG to access the different layers, they get prepended with a letter.
It depends which SVG it renders first one appends "a", second "b" and so on.
I searched in the docs and Code to change it with a parameterr, could not find it.
Anyone a clue how to set it? Or is it an error?

My Config:
[code]

[2016-02-01 11:03] jkphl commented on #68
Hi @killua-x,

the feature is called "class namespacing" and can be disabled via config (see the `namespaceClassnames` option [in the docs](https://github.com/jkphl/svg-sprite/blob/master/docs/configuration.md#sprite-svg-options)). There is no way to control the prefixes though, and there are a couple of issues around this (that's why you can disable it).

Cheers, Joschi

[2016-02-01 11:03] #68 closed

[2016-02-01 12:05] killua-x commented on #68
Cheers.
Thanks a lot. I totally oversaw that.  ^__^;

[2016-02-01 12:06] jkphl commented on #68
You're welcome! :)

[2016-03-02 17:26] henrahmagix opened #69 ""SVG Stacks" link in README is a 404"
Is there another page of similar helpfulness?

http://simurai.com/blog/2012/04/02/svg-stacks/

[2016-03-03 08:20] jkphl commented on #69
@henrahmagix Thanks for reporting. I'll update the docs and use the [archive.org link](https://web.archive.org/web/20160120092300/http://simurai.com/blog/2012/04/02/svg-stacks/). ;)

[2016-03-03 08:29] #69 closed

[2016-03-03 08:30] henrahmagix commented on #69
Thanks!

[2016-06-21 13:43] contactjoelg opened #71 "change css background-position: from [%] to [px]"
Is there an option to change the output css background-position: to use Pixels instead of Percentages?
example:
(background: url("svg/sprite.css-4dbd03ed.svg") 0 62.465297057190455% no-repeat;)
change to (background: url("svg/sprite.css-4dbd03ed.svg") 0 20px no-repeat;)

[2016-06-21 14:39] jkphl commented on #71
@contactjoelg Moving from absolute (pixel) to relative (percent) positioning was **the** improvement in the latest *svg-sprite* generation, as it enables you to use the sprites responsively. While I consider using absolute positioning a step backwards, you should still be able to do so by writing and using a custom output template. The absolute positioning variables [are still available](https://g

[2016-06-21 14:39] #71 closed

[2016-06-27 19:04] jfarago opened #72 "Compiled SCSS background-position wrong"
Some of my images are referenced using the wrong grid coordinate (so, the class shows the wrong image). Im not really sure how to address this.

[2016-06-27 19:17] #72 closed

[2016-06-27 19:17] jfarago commented on #72
Found the bug on my end.

[2016-08-04 21:02] contactjoelg commented on #71
Thanks, which property do I have to change to convert to pixels?

[2016-08-04 21:11] contactjoelg opened #73 "SVG sprite - remove random string from filename"
How can I remove random string from filename?

The following currently generates 'sprite-[########].svg'
[code]
I would like to just generate 'sprite.svg'.

[2016-08-04 21:33] contactjoelg opened #74 "render specified 'folder/', not default 'css/'"
How can I avoid the rendering the default 'css/'? instead, I would like to just render the specified 'images/':
[code]

[2016-08-05 06:07] jkphl commented on #73
Please toggle the `mode.<mode>.bust` option to disable cache busting (see [common configuration options](https://github.com/jkphl/svg-sprite/blob/master/docs/configuration.md#common-mode-properties)).

[2016-08-05 06:07] #73 closed

[2016-08-05 06:11] jkphl commented on #71
As I said, there is no built-in option to switch back to absolute / pixel positioning. Go ahead and write your own customized template to do so. I provided a link to the docs in my previous comment.

[2016-08-05 06:13] jkphl commented on #74
Please read the [documentation about output destinations](https://github.com/jkphl/svg-sprite#output-destinations) to understand the different options. Basically you will have to set `dest` to `"images"` and `mode.<mode>.dest` to `"."`.

[2016-08-05 06:13] #74 closed

[2016-08-05 06:30] contactjoelg commented on #74
Thank you Joschi, it works now.

[2016-08-05 06:30] contactjoelg commented on #73
Thank you Joschi, it works now.

[2016-08-18 15:03] gazpachu opened #75 "Warning: Object #<Object> has no method 'isAbsolute' Use"
Recently I started to get this error. Any idea of what this could be?

[code]

[2016-08-18 15:06] jkphl commented on #75
@gazpachu `path.isAbsolute()` should be [available as of Node v.0.11.2](https://nodejs.org/api/path.html#path_path_isabsolute_path). Which version are you using?

[2016-08-18 15:07] jkphl commented on #75
@gazpachu Oh, could you also post the code you use to add your source SVG files to the spriter?

[2016-08-18 16:47] gazpachu commented on #75
That was the issue. I was using an old version. Thx

[2016-08-18 16:47] #75 closed

[2016-09-02 05:45] yamsoft opened #76 "Order of SVGs in output sprite"
Hi...
I have a question..
How can we specify the order in which the SVGs get placed into the final sprite?
I want to make sure that the new svg entry that I make goes to the last of the sprite, and does not disturb the order of the previous sprite

[2016-09-02 06:33] jkphl commented on #76
Closing this b/c it's a crosspost of https://github.com/jkphl/svg-sprite/issues/189

[2016-09-02 06:33] #76 closed

[2016-09-02 11:15] yamsoft opened #77 "SVG Sprite CSS generation issue"
Hi...
Just wanted to ask if it is possible to get the pixel position of an individual svg icon from the generated sprite?

[2016-09-03 08:25] jkphl commented on #77
Please specify what you mean with "get" the pixel position. At which stage, using which technology? During the generation of the sprite (Mustache template rendering) the absolute positions are available as template variables (please see the templating documentation for details). After the sprite is generated, it is up to you to parse / examine the sprite and extract the positions with a technology

[2016-09-03 08:25] #77 closed

[2016-09-09 08:43] taunoha opened #78 "Warning: Object has no method 'isAbsolute'"
I'm getting this warning:
[code]

Config:
[code]

Am I missing something?

[2016-09-09 08:49] jkphl commented on #78
@taunoha I suppose you're running an old Node.js version that isn't supported any longer for quite a while now. Please see https://github.com/jkphl/grunt-svg-sprite/issues/75

[2016-09-09 08:49] #78 closed

[2016-11-17 10:35] philchanet opened #79 "Tests fail on macOS Sierra"
Thanks for this great tool - the test phase fails and returns the following errors. I'm not sure if I'm missing a grunt option (I simply use `grunt` to launch it)?

[code]

[2016-11-18 16:49] jkphl commented on #79
@philchanet Thanks for reporting. Unfortunately, I don't have a MacOS Sierra handy (in fact, I don't have a Mac handy at all), so I don't see a way to dig into this at the moment. Anyone else?

[2017-01-26 22:50] shredtechular opened #80 "Responsive Sizing Question"
I created an svg sprite with your grunt task and everything is working perfectly for me, however, I'm having one issue with responsive sizing that I'm clearly doing something wrong, but I can't for the life of me figure it out.  So, looking to the community for some assistance.

I've read this [thread](https://github.com/jkphl/grunt-svg-sprite/issues/21) and understand the sprite background positi

[2017-01-30 20:03] yonatan-gala opened #81 "configure symbol path"
hi,  great wrapper.
i want to configure the symbol output to be in symbols/custom-name.svg and not in symbol/svg/sprite.symbol.svg

is this possible?
thanks.

[2017-01-30 20:12] yonatan-gala commented on #81
figured it out ,sorry :)

[2017-01-30 20:12] #81 closed

[2017-03-22 10:49] superfine opened #82 "Invalid markup in HTML example document"
The HTML example document incorrectly renders the closing tag of the `<svg>` as `</shapes>` instead of `</svg>`. Can I fix this myself somehow? Thanks.

[code]

My grunt file:

[code]

[2017-05-30 19:00] jkphl commented on #82
@superfine First of all sorry for the late reply! This is in fact a bug [in *svg-sprite*](https://github.com/jkphl/svg-sprite/blob/master/tmpl/defs/sprite.html#L84) and I [created an issue](https://github.com/jkphl/svg-sprite/issues/229) for it over there. It's going to be fixed in the next release (which I expect to come soon).

[2017-05-30 19:00] #82 closed

[2017-06-01 21:35] jkphl commented on #80
@shredtechular I'm sorry but I must have completely overlooked your question and found it just now. Sorry for that!

If this still is an issue for you, could you please post all the files involved (HTML, CSS, sprite etc.)?

[2017-06-04 06:18] shredtechular commented on #80
No worries at all @jkphl !  This isn't an issue for me anymore, I can't recall what I did to solve it, but I will close this issue now.

[2017-06-04 06:18] #80 closed

[2017-12-29 12:21] ogonkov opened #83 "Multiple output sprites?"
Is there a way to have _single_ task with multiple output?

What i'm trying to do is convert such folders structure:
[code]

to

[code]

Folders structure is not that important, i stuck trying to have multiple sprites.

I can write some bootstrap task/function that would generate task config for component, but may be there is more simple way to have similar output with multiple sprites?

[2017-12-29 12:28] jkphl commented on #83
@ogonkov Unfortunately, the answer is simple: No, at the moment there's no way to have a *single* task creating multiple sprites (regardles of the folder structure).

[2017-12-29 12:28] #83 closed

[2018-04-19 14:31] bitstarr opened #84 "UnhandledPromiseRejectionWarning"
Hi,

With 1.4.0 i'm getting this error:
``
UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): Error: Callback was already called.
``

1.3.7 works. Which information can I provide to help finding the bug?

[2018-06-09 12:03] jkphl commented on #84
@bitstarr Sorry for the late reply. I'm a bit helpless, to be honest — the tests still run fine, and I'm not a Grunt user anymore, so I don't have any setup handy so that I could reproduce this problem. Could you please post your complete Gruntfile and the directory / file structure you're using?

[2018-06-14 15:51] AlexDovnar commented on #84
Have the same problem with 'svg-sprite'

The command:
`svg-sprite --symbol --symbol-inline --shape-id-generator=icon- --symbol-sprite=icons.svg --symbol-dest=./ --dest=public/images/svg-sprite/ resources/assets/svg/*.svg`

`(node:13154) UnhandledPromiseRejectionWarning: Error: Callback was already called.
   at /home/user/dev/apps/passport/node_modules/async/dist/async.js:966:32
   at /home/user/d

[2019-01-14 11:34] QuipHop commented on #84
Got the same with webpack

[2019-09-04 14:30] mhennessie opened #85 "Cannot read property 'svg' of undefined"
When using options shape an error occurs with the message: "Warning: An error occurred while processing a template (Cannot read property 'svg' of undefined). Use --force to continue."

Here is my config:
`svg_sprite: {
	basic: {
		cwd: '<%= project.src.svg %>/',
		src: ['**/*.svg'],
		dest: '<%= project.dist.svg %>/',
		expand: true,

		options: {
			shape: {
				dimension: {
					maxWidth: 32,

[2019-09-04 14:32] mhennessie commented on #85
Nevermind found my typo

[2019-09-04 14:32] #85 closed

[2021-02-28 16:08] XhmikosR commented on #50
It's due to svg2png -> phantomjs and DPI on Windows.

[2021-07-14 12:14] brunis opened #91 "Default settings need to add more padding on the sprite or let it be configurable.."
I'm seeing icons spill into other icons in Firefox when using recommended scaling in Windows (125% in my case).
If i go and change my icons to be width and height 16 and viewport 0 0 18 18 it goes away ..
So i'd suggest you add a bit more space between the icons by default, so scaling issues and subpixel precision doesn't become an issue at different scales on different browsers.
![Screenshot 2021

[2021-10-03 13:56] XhmikosR commented on #50
Tests seem to work now on main.

[2021-10-03 13:56] #50 closed

[2022-03-27 06:31] XhmikosR commented on #79
Seems to work now on macOS-latest on [CI](https://github.com/svg-sprite/grunt-svg-sprite/actions/runs/2046941120).

[2022-03-27 06:31] #79 closed